mixin navbar(user)
  nav.navbar.navbar-expand.navbar-light.bg-info
    a(href="/dashboard", aria-label="Golden Goose").navbar-brand.mr-0.mr-md-2
      //img(src="/images/golden-goose.svg", width="36", height="36")
    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/dashboard") Home
        //li.nav-item
        //  a.nav-link(href="/leads") Leads
    .navbar-right
      if user
        a.nav-link(href="/dashboard/user/" + user.id) 
          span.navbar-text Hello #{user.email}!
    .navbar-right
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/dashboard/group") Groups
        //li.nav-item
        //  a.nav-link(href="/dashboard/calendar") Calendar
        li.nav-item
          a.nav-link(href="/dashboard/create_remind") Create Remind
        //li.nav-item
        //  a.nav-link(href="/signup") Sign up
        //li.nav-item
        //  a.nav-link(href="/login") Login
        li.nav-item
          a.nav-link(href="/logout") Logout
